In [24]:
import pandas as pd
import numpy as np
dataset = "student.csv"
df = pd.read_csv(dataset, header = 0)
df_kategori = df.select_dtypes(exclude = [np.number])
df_kategori

     Gender      Grade Employed
0      Male  1st Class      yes
1    Female  2nd Class       no
2      Male  1st Class       no
3    Female  2nd Class       no
4      Male  1st Class       no
..      ...        ...      ...
227  Female  1st Class       no
228    Male  2nd Class       no
229    Male  3rd Class      yes
230  Female  1st Class      yes
231    Male  3rd Class      yes

[232 rows x 3 columns]

In [25]:
df_kategori.Grade.replace({"1st Class":1,"2nd Class":2,"3rd Class":3},inplace = True)
df_kategori.Gender.replace({"Male":1,"Female":2},inplace = True)
df_kategori.Employed.replace({"yes":1,"no":0},inplace = True)
df_kategori.head()

C:\Users\user\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

   Gender  Grade  Employed
0       1      1         1
1       2      2         0
2       1      1         0
3       2      2         0
4       1      1         0

In [10]:
df_kategori.Gender.value_counts()

Male      136
Female     96
Name: Gender, dtype: int64