In [21]:
import pandas as pd
dataset = 'Banking_Marketing.csv'
df = pd.read_csv(dataset)

In [22]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed', 'y'],
      dtype='object')

In [23]:
df.index

RangeIndex(start=0, stop=41199, step=1)

In [24]:
df.iloc[0:4,0:7]

    age          job  marital          education  default housing loan
0  44.0  blue-collar  married           basic.4y  unknown     yes   no
1  53.0   technician  married            unknown       no      no   no
2  28.0   management   single  university.degree       no     yes   no
3  39.0     services  married        high.school       no      no   no

In [25]:
df.dtypes

age               float64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration          float64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp_var_rate      float64
cons_price_idx    float64
cons_conf_idx     float64
euribor3m         float64
nr_employed       float64
y                   int64
dtype: object

In [26]:
df.isna().sum()

age               2
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           6
month             0
day_of_week       0
duration          7
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

In [34]:
df.loc[0:4 , ["pdays","month"]]

   pdays month
0    999   aug
1    999   nov
2      6   jun
3    999   apr
4      3   aug

In [35]:
rata_umur = df.age.mean()
print(rata_umur)

40.023812413525256