In [1]:
import pandas as pd
dataset1 = "student.csv"
dataset2 = "mark.csv"
df1 = pd.read_csv(dataset1, header = 0)
df2 = pd.read_csv(dataset2, header = 0)
df1.head()

   Student_id  Age  Gender      Grade Employed
0           1   19    Male  1st Class      yes
1           2   20  Female  2nd Class       no
2           3   18    Male  1st Class       no
3           4   21  Female  2nd Class       no
4           5   19    Male  1st Class       no

In [4]:
df_kategori.Gender.value_counts()

NameError: name 'df_kategori' is not defined